.banner {
  background-image: url("/images/woman-walking-kelingking-beach-nusa-penida-island-bali-indonesia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.package {
  background-image: url("/images/ammie-ngo-vcu-OZBxxRk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
